<!-- LOGIN -->
<div class="col-md-6">
<div class="card bg-light">
	<div class="card-body">
		<form name="formLogin" action="{{urlPage}}/{{modulo}}/validar" method="post">
			<div class="form-row">
				<div class="form-group col-md-12">
					<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="email">Email</label>
					<input class= "form-control form-control-sm" type="email" name="email" id="email">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="senha">Senha</label>
					<input class= "form-control form-control-sm" type="password" name="senha" id="senha">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="btn-in">Entrar</label>
					<button class="form-control btn btn-link" type="submit" title="Entrar" id="btn-in"><i class="material-icons text-success">login</i></button>
				</div>
			</div>
		</form>
	</div>
</div>
</div>
