<!-- Formulario para inserir dados -->
<form name="formInsert" action="{{urlPage}}/user/adicionar" method="post">
	<input type="hidden" name="currentPage" value="{{pagination.currentPage}}">
	<div class="form-row">
		<div class="form-group col-md-4">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="nome">Nome</label>
			<input class= "form-control form-control-sm" type="text" name="nome" id="nome">
		</div>
		<div class="form-group col-md-3">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="email">Email</label>
			<input class= "form-control form-control-sm" type="email" name="email" id="email">
		</div>
		<div class="form-group col-md-5">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="endereco">Endereco</label>
			<input class= "form-control form-control-sm" type="text" name="endereco" id="endereco">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-3">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="cidade">Cidade</label>
			<input class= "form-control form-control-sm" type="text" name="cidade" id="cidade">
		</div>
		<div class="form-group col-md-1">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="estado">UF</label>
			<input class= "form-control form-control-sm" type="text" name="estado" id="estado">
		</div>
		<div class="form-group col-md-2">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="cep">CEP</label>
			<input class= "form-control form-control-sm" type="text" name="cep" id="cep">
		</div>
		<div class="form-group col-md-2">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="telefone">Telefone</label>
			<input class= "form-control form-control-sm" type="text" name="telefone" id="telefone">
		</div>
		<div class="form-group col-md-2">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="nivel">Nível</label>
			<select class="form-control form-control-sm form-select" type="text" name="nivel" id="nivel">
				<option value=""></option>
	      		<option value="{{userLevel}}">Usuário</option>
	      		<option value="{{adminLevel}}">Administrador</option>
			</select>
		</div>
		<div class="form-group col-md-2 mb-2">
			<label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="btn-add">Adicionar</label>
			<button class="form-control btn btn-link" type="submit" title="Adicionar" id="btn-add"><i class="material-icons text-success">add</i></button>
		</div>
	</div>
</form>
