
<!-- LOGIN -->
<!--
<div class="row">
   <div class="col-4">
-->
      <div class="card-head bg-light text-center">Acesso à área restrita</div>
      <div class="card mt-2 bg-light">
         <div class="card-body mt-3">
            <form action="{{root}}/user/login" method="post">
               <div class="row mb-4">
                  <label for="email" class="col-sm-1 col-form-label col-form-label-sm">Email</label>
                  <div class="col-sm-3">
                    <input type="email" class="form-control form-control-sm" name="email" id="email">
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="senha" class="col-sm-1 col-form-label col-form-label-sm">Senha</label>
                  <div class="col-sm-3">
                    <input type="password" class="form-control form-control-sm" name="senha" id="senha">
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="btn-send" class="col-sm-1 col-form-label col-form-label-sm">Entrar</label>
                  <div class="col-sm-1">
                    <button type="submit" class="form-control form-control-sm btn btn-link" name="btn-send" id="btn-send" title="Entrar"><i class="material-icons text-secondary">login</i></button>
                  </div>
                </div>
            </form>
         </div>
      </div>
<!--
   </div>
</div>
-->
